---
import Title from "@/components/Title";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="">
    <div class="max-w-4xl mx-auto p-6">
        <Title>About Me</Title>
        <h1 class="text-4xl font-bold my-4">Haroon Nissar khanday</h1>
        <p class="text-lg mb-4">
            I&apos;m a full-stack developer from the beautiful paradise of
                Kashmir,🍁currently living in Berlin Germany and I&apos;m all about learning new things! I taught
                myself how to code, and I’m always excited to dive into the
                latest web trends,web3 and software engineering. I love experimenting, growing my skills, and
                sharing what I learn with others along the way!!!
        </p>
        <p class="text-lg mb-4">
             I hold a Bachelor of Computer Applications (BCA), which has provided me with a strong academic foundation to complement my practical skills. I thrive on exploring the latest web trends and enjoy sharing my journey and insights with others in the tech community.More on that i am pursuing Master's in Computer Science 2025 - 2027
        </p>
        <p class="text-lg mb-4">
            In a world where challenges often define our limits, true growth comes from daring to go beyond them. Each obstacle is an opportunity to build resilience, and each setback paves the way for a stronger comeback. Embrace every step, for every journey has the power to transform and inspire. Believe in your potential, and let determination drive you toward boundless possibilities.
        </p>
        <p class="text-lg mb-4">
            As I continue my journey, I aim to build impactful web applications,
            contribute to open-source projects, and inspire others to explore
            the world of technology.
        </p>
    </div>

    <style>
        .bg-gradient {
            background: linear-gradient(to right, #f8f9fa, #e9ecef);
        }
    </style>
</Layout>