---
import Title from "./Title";
---

<Title>Education</Title>
<Title className="  border bg-card  text-5xl md:text-9xl py-6 mb-10 pb-5">
    SELF TAught 
    <p class="text-base text-muted-foreground lowercase">
        I&apos;m a self-taught developer with a passion for web development that began after working as a carpenter for three years. 
        I started learning through YouTube and various documentation resources. Since then, I've been building and refining my skills, 
        exploring everything from foundational web technologies to advanced frameworks. I hold a Bachelor of Computer Applications (<spanc class="uppercase">BCA</span>) 
        <span class="lowercase"> degree to deepen my knowledge in computer science and software development.</span>
    </p>
</Title>