---
import Title from "./Title";
import { Button } from "@/components/ui/button";
import {Linkedin} from "lucide-react";
---

<Title>Experience</Title>
<div class="flex flex-col space-y-4">
    <div class="p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold">
            Full-stack Developer (Freelancer)
        </h3>
        <p class="text-sm text-muted-foreground">Ongoing</p>
        <p class="text-base">
            As a freelance full-stack developer, I collaborate with clients
            to design and implement user-friendly web interfaces, Applications and web3 smart contracts. My focus is on
            creating responsive, visually appealing websites that enhance user
            experience while meeting project specifications.
        </p>
    </div>

    <div class="p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold">
            Full-stack Developer (Internship)
        </h3>
        <div class="flex items-center gap-1">
            <div>
            <a class="text-white hover:text-green-800"
                        href="https://www.linkedin.com/in/haroon-nissar-4870a6284/"
                        target="_blank"
                    >
                        <Button size={"icon"} variant={"outline"}>
                            <Linkedin />
                        </Button></a
                    >
        </div>
        <p class="text-sm text-muted-foreground">
            
            AIIOTS Geek World  PVT. LTD · June 2023 - January 2024 · 8 months
        </p>
        </div>
        
        <p class="text-base">
            During my internship at AIIOTS Geek World  PVT. LTD , I worked as a
            Full-stack Developer, contributing to various web development
            projects. I gained hands-on experience in building responsive
            layouts, optimizing user interfaces and server side logic, and collaborating with
            cross-functional teams to deliver high-quality products.
        </p>
        </div>
    </div>
</div>