---
import Title from "./Title";
import { Button } from "@/components/ui/button";
import {Linkedin} from "lucide-react";
---

<Title>Experience</Title>
<div class="flex flex-col space-y-4">

     <div class="p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold">
            Intern Front-End Developer
        </h3>
        <p class="text-sm text-muted-foreground">Girman Technologies 19-11-2024 - present </p>
        <p class="text-base">
            •	Designed and implemented mobile-responsive user interfaces using React, Next.js, Tailwind CSS, and Shadcn-UI, ensuring a seamless and visually appealing user experience.
<br/>•	Developed server-side logic, APIs, and database structures with Node.js, Express, and Prisma to enable efficient data flow and robust communication between front-end and back-end components.

        </p>
    </div>
    <div class="p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold">
            Associate Full Stack Developer (Freelance)
        </h3>
        <p class="text-sm text-muted-foreground">Ely Space 26-02-2024 – 25-10-2024 </p>
        <p class="text-base">
            •	Designed and implemented RESTful APIs using Node.js and Express.js.<br/>
•	 Developed and maintained server-side logic using Java and Spring Boot.<br/>
•	Participated in architectural discussions and contributed to the design and implementation of scalable and maintainable systems<br/>
•	Utilized Mongo-DB for flexible data modeling and SQL for relational data management.

        </p>
    </div>

    <div class="p-4 rounded-lg shadow-md">
        <h3 class="text-lg font-semibold">
            Full-stack Developer (Internship)
        </h3>
        <div class="flex items-center gap-1">
            <div>
            <a class="text-white hover:text-green-800"
                        href="https://www.linkedin.com/in/haroon-nissar-4870a6284/"
                        target="_blank"
                    >
                        <Button size={"icon"} variant={"outline"}>
                            <Linkedin />
                        </Button></a
                    >
        </div>
        <p class="text-sm text-muted-foreground">
            
            AIIOTS Geek World  PVT. LTD · June 2023 - January 2024 · 8 months
        </p>
        </div>
        
        <p class="text-base">
            •	Spearheaded the design and implementation of user interfaces, ensuring optimal responsiveness and visual appeal for web applications, utilizing a stack comprising HTML, CSS, JavaScript, and frameworks such as React-JS, Node-JS, and Tailwind CSS.<br/>
•	Developed of server-side logic, databases, and APIs, leveraging Node.js alongside other technologies, to facilitate seamless data flow and robust communication between the server and front-end components, thereby enhancing functionality.<br/>
•	Organized cross-functional collaboration by seamlessly integrating front-end and back-end components, actively troubleshooting and debugging issues to optimize system performance, resulting in a cohesive and efficient full-stack development experience.<br/>

        </p>
        </div>
    </div>
</div>