---
import { Button } from "@/components/ui/button";
import {
    Card,
    CardContent,
    CardDescription,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";

import { Github, Linkedin, Mail, MapPin } from "lucide-react";
---

<div>
    <Card className="mx-0" id="about">
        <CardHeader>
            <div class="flex justify-between">
                <div class="grid gap-1">
                    <CardTitle className="text-3xl md:text-9xl uppercase">
                        HAROON KHANDAY
                    </CardTitle>
                    <CardDescription className="flex items-start gap-1 ">
                        <MapPin size={15} /> Srinagar,Kashmir
                    </CardDescription>
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <a href="mailto:khandayharoon@gmail.com">
                        <Button size={"icon"} variant={"outline"}>
                            <Mail />
                        </Button></a
                    >
                    <a href="https://github.com/Khandayharoon" target="_blank">
                        <Button size={"icon"} variant={"outline"}>
                            <Github />
                        </Button>{" "}</a
                    >
                    <a
                        href="https://www.linkedin.com/in/haroon-nissar-4870a6284/"
                        target="_blank"
                    >
                        <Button size={"icon"} variant={"outline"}>
                            <Linkedin />
                        </Button></a
                    >
                </div>
            </div>
        </CardHeader>
        <CardContent>
            <p>
                I&apos;m a full-stack developer from the beautiful paradise of
                Kashmir,🍁 and I&apos;m all about learning new things! I taught
                myself how to code, and I’m always excited to dive into the
                latest web trends and web3. I love experimenting, growing my skills, and
                sharing what I learn with others along the way!
            </p>
        </CardContent>
    </Card>
</div>